[submodule "protos/libra-api"]
	path = protos/libra-api
	url = https://github.com/ntons/libra-api.git
[submodule "protos/googleapis"]
	path = protos/googleapis
	url = https://github.com/googleapis/googleapis.git
